/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

:root {
  --main-color: #033a80;
  --bg-color: #fff;
  --text-color: #0f0c27;
  --hover: hsl(260, 100%, 51%);
 
  --big-font: 3.2rem;
  --medium-font: 1.8rem;
  --p-font: 0.941rem;
}
.heading h2{
 
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
}
.about{
  background: #eff4fd;
}
section {
  padding: 50px 10%;
}
body.active {
  --text-color: #fff;
  --bg-color: #0f0c27;
}
body {
  background: var(--bg-color);
  color: var(--text-color);
}
*::selection {
  color: var(--bg-color);
  background: var(--main-color);
}

 


#menu-icon {
  font-size: 24px;
  cursor: pointer;
  z-index: 10001;
  display: none;
}
#darkmode {
  font-size: 22px;
  cursor: pointer;
}



.btn {
  display: inline-block;
  background: var(--main-color);
  color: #fff;
  padding: 0.7rem 1.3rem;
  border-radius: 0.5rem;
}
.btn:hover {
  background: var(--hover);
}
 

.about-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  background-color: #eff4fd;;
  margin-top: 2rem;
}
 
.about-img img {
  width: 80%;
  border-radius: 0.5rem;
}
.about-text p {
  font-size: var(--p-font);
  font-weight: 400;
  text-align: justify;
}
.information {
  margin: 1rem 0 1.4rem;
}
.information .info-box {
  display: flex;
  align-items: center;
  margin-bottom: 1.4rem;
}
.information .info-box .bx {
  font-size: 22px;
}
.information .info-box span {
  font-weight: 400;
  margin-left: 1rem;
}
.skills-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
  margin-top: 4rem;
}
.skills-img img {
  width: 80%;
  padding-left: 4rem;
  object-position: center;
}
.bars-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  margin-bottom: 1rem;
}
.bars-box h3,
span {
  font-size: 1.1rem;
  font-weight: 500;
}
.light-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.5rem;
  background: hsla(260, 100%, 44%, 0.4);
  border-radius: 0.5rem;
}
.percent-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0.5rem;
  background: var(--main-color);
  border-radius: 0.5rem;
}
.html-bar {
  width: 94%;
}
.css-bar {
  width: 84%;
}
.js-bar {
  width: 70%;
}
.react-bar {
  width: 50%;
}
.bootstrap-bar{
  width: 80%;
}
.python-bar{
  width: 60%;
}
.java-bar{
  width: 20%;
}
.mysql-bar{
  width: 70%;
}
.php-bar{
  width: 30%;
}
.firebase-bar{
  width: 40%;
}
.services-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}
.services-box {
  padding: 20px;
  width: 260px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 0.5rem;
  border-bottom: 2px solid var(--main-color);
  box-shadow: 0 2px 7px rgb(14 55 54 / 15%);
}
.services-box:hover{
 background-color: #02225a;
}

.services-box h3 {
  font-size: 1rem;
  font-weight: 600;
  margin: 0.7rem 0 0.4rem;
}
.services-box:hover h3{
  color: #fff;
}
.services-box .bx {
  padding-top: 2rem;
  font-size: 54px;
  color: var(--main-color);
}
.services-box:hover .bx{
  color: #22cf91;
}
.services-box a {
  color: var(--main-color);
  font-size: var(--p-font);
  font-weight: 500;
}
.services-box:hover a{
  color: #8b8a8f;
}
.portfolio-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, auto));
  gap: 1rem;
  margin-top: 2rem;
}
.portfolio-img {
  overflow: hidden;
  border-radius: 0.5rem;
}
.portfolio-img img {
  width: 100%;
  display: block;
}
.portfolio-img img:hover {
  transform: scale(1.1);
  transition: 1s;
}
.contact-form {
  display: grid;
  place-items: center;
  margin-top: 2rem;
}
.contact-form form {
  display: flex;
  flex-direction: column;
  width: 650px;
}
form input,
textarea {
  padding: 15px;
  border-radius: 0.5rem;
  width: 100%;
  border: none;
  outline: none;
  background: hsla(260, 100%, 44%, 0.1);
  margin-bottom: 1rem;
  color: var(--text-color);
}
form input::placeholder,
textarea::placeholder {
  color: var(--text-color);
}
form textarea {
  resize: none;
  height: 200px;
}
.contact-button {
  width: 160px;
  cursor: pointer;
  background: #2768d9;
  color: #fff;
  justify-content: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-left: 35%;
}
.contact-button:hover {
  background: var(--hover);
}
.footer {
  display: grid;
  place-items: center;
  padding: 20px;
  background: #ebebeb;
  color: #000;
}
.footer h2 {
  font-size: 1.5rem;
  margin-bottom: 1.6rem;
}
.footer-social a i{
  color: rgb(10, 26, 208);
  font-size: 25px;
  margin-left: 10px;
  text-align: center;
  line-height: 40px;
  background-color: #fff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.copyright {
  padding: 20px;
  background: var(--main-color);
  text-align: center;
  color: #fff;
}
.copyright a{
  color: #22cf91;
}
/* Making Responsive */
@media (max-width: 991px) {
  header {
    padding: 18px 4%;
  }
  section {
    padding: 50px 4%;
  }
}
@media (max-width: 881px) {
  :root {
    --big-font: 2.7rem;
    --medium-font: 1.4rem;
  }
}
@media (max-width: 768px) {
  :root {
    --big-font: 2.4rem;
    --medium-font: 1.2rem;
  }
  header {
    padding: 11px 4%;
  }
  #menu-icon {
    display: initial;
    color: var(--text-color);
  }
 
 
  #darkmode {
    position: absolute;
    top: 1.4rem;
    right: 2rem;
  }
  .scroll-down {
    display: none;
  }
  .home {
    grid-template-columns: 0.5fr 3fr;
  }
  .home-text {
    grid-column: 1/3;
    padding-left: 1.4rem;
  }
  .home-img {
    order: initial;
  }
  .about-container {
    grid-template-columns: 1fr;
  }
  .about-img {
    display: flex;
    justify-content: center;
  }
  .skills-container {
    grid-template-columns: 1fr;
  }
  .skills-img img {
    padding-left: 0;
  }
  .skills-img {
    padding-top: 2rem;
    display: flex;
    justify-content: center;
  }
  .contact-form form{
    width: 300px;
  }
  .contact-button{
    margin-left: 25%;
  }
}
@media (max-width: 340px) {
  :root {
    --big-font: 1.7rem;
    --medium-font: 1.1rem;
  }
  .home-text span {
    font-size: 1rem;
  }
  .home-text h2 {
    font-size: 0.9rem;
    font-weight: 500;
  }
  .information .info-box span {
    font-size: 1rem;
  }
  .portfolio-content {
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  }
  .contact-form form{
    width: 300px;
  }
  .contact-button{
    margin-left: 25%;
  }
}

/* education */

.education{
  width: 100%;
  min-height: 100vh;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container1{
  width: 100%;
  padding: 35px 10%; 
}
.container1{
  padding-right:clac(10% - 30px);
}
main.row1{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
}
.col1 .header.title1{
  font-family: Helvetica;
  color: #033a80;
  padding: 0px 0px 20px 30px;
}
.col1 .contents1{
  padding: 0px 30px;
  border-left: 2px solid #bababa;
}
.col1 .contents1 .box1{
  position: relative;
  padding: 20px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  cursor: pointer;
  transition: all 0.4s;
  margin-bottom: 20px;   
}
.col1 .contents1 .box1:hover{
  box-shadow: 0px 3px 12px 0px #ccc;
  border: 1px solid transparent;
}
.col1 .contents1 .box1::before{
  content: ' ';
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  right: calc(100% + 22px);
  top: 0;
  background-color: #033a80;
  border: 2px solid white;
}
.box1 h4{
  position: relative;
  color: #444;    
}
.box1 h5{
  position: relative;
  color: gray;    
}
.box1 h3{
  font-size: 19px;
  padding: 10px 0px 6px;
  font-family: helvetica;
  color: #033a80;
}
.box1 p{
  line-height: 1.2;
  color: #666;
  font-size: 17px;
}
@media(max-width: 768px){
  main.row1{
      grid-template-columns: 1fr;
  }
  .row1 .col1:nth :nth-child(2){
      margin-top: 30px;
  }
}

/* *{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  } */
  
  .skills-section{
  padding-top: 20px;
  }
  
  .skills-header{
  text-align: center;
  color: #fff;
  padding: 1rem;
  position: relative;
  }
  
  .skills-header:after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 4px;
  /* background-color: #2ecc71; */
  border-radius: 2px;
  }
  
  .skills-container{
  display: grid;
  grid-tempLate-columns: repeat(5, 1fr);
  justify-content:center;
  align-items:center;
  text-align: center;
  grid-gap:1rem;
  padding: 1rem 80px;
  font-size: 1.2rem;
  }
  .skills-box{
  padding: 1rem;
  color: #000;
  cursor:pointer;
  }

  .skills-box:hover .skills-img{
  transform: translateX(-20px);
  }
  
  .skills-title{
  display:flex;
  flex-direction: column;
  align-items:center;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  position: relative;
  }
  
  .skills-title:after{
  content: '';
  position:absolute;
  bottom: 0;
  right: 50%;
  width:20px;
  height:4px;
  border-radius: 2px 0 0 2px;
  background-color: #033a80;
  transition: .5s;
  }
  
  .skills-title:before{
  content: '';
  position:absolute;
  bottom: 0;
  left: 50%;
  width:100px;
  height:4px;
  border-radius: 0 2px 2px 0;
  background-color: #033a80;
  }
  
  .skills-icons{
  width:50px;
  z-index:2;
  }
  
  .skills-img{
  width:210px;
  height:210px;
  position: relative;
  border-radius: 45px;
  background-color: #fff;
  display:flex;
  justify-content:center;
  align-items:center;
  transition: .5s;
  }
  
  /* .skills-img:after{
  content: '';
  position:absolute;
  top:0;
  left: 0;
  width:50%;
  height:90px;
  background: rgba(100, 100, 100, 0.5);
  border-radius: 45px 0 0 45px;
  } */
  .skills-title h3{
  color: #333;
  margin-top: 0.5rem;
  }
  @media screen and (max-width:990px){
   .skills-container{
   grid-tempLate-columns: repeat(2, 1fr);
   padding: 2rem 50px;
   }
  }
  
  @media screen and (max-width:650px){
   .skills-container{
   grid-tempLate-columns:2fr;
   padding: 2rem 50px;
   }
  }
