

@import url('https://fonts.googleapis.com/css2?family=Akshar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
.link{

        background: #212121;
        padding: 7px 13px;
        text-decoration: none;
        font-weight: bold;
        color: #fff;
        display: inline-block;
      
        border-radius: 87px;
    
}
.card{
    width: 18rem;
    margin: 3rem auto;
    box-shadow: 0 20px 25px -5px rgba(0 0 0 / .10),
    0 10px 10px -5px rgba(0 0 0 / .04);
}
.card img{
    height: 23vh;
   
    
}
.project{
    background: #eff4fd;
}
.projectTitle{
text-align: center;
font-family: 'Oswald', sans-serif;
font-weight: bold;
}
.projectFirst,.projectSecond{
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 80%;
    
}
.thirdone{

  margin:  auto;
  width: 28rem;

}
@media  screen and (max-width:768px) {

.projectFirst,.projectSecond{
    flex-direction: column;
    width: 80%;
    margin: auto;
}

.thirdone{
    margin: auto;
    width: 80%;

}

}